#Header {
    background-image: url("../images/background.png");
    background-size: cover;
    margin-bottom: 10%;
    font-family: Roboto Slab;
}

#Header .rellax {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: aliceblue;
}

h1,
h2,
h3{
    font-family: Roboto Slab;
    font-style: normal;
    letter-spacing: 1.49px;
    font-weight: 400;
}

p{
    font-family: Source Code Pro;
    letter-spacing: .4px;
}

a {
    font-family: Source Code Pro;
    letter-spacing: 1px;
}

#Header a {
    font-family: Roboto Slab;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}


#about-me-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content:center;
    justify-content: center;
}

#profile-img{
    z-index: -1;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    top: 45px;
    margin-right: 5%;
    transform: scaleX(-1);
    /*background-color: #5c5c5c;*/
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(80,80,80);
}

img {
    user-select: none;
}

.shark{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
}

.time {
    margin-bottom: 80%;
}

#sharkpoll-img{
    /*max-width: 720px;*/
    width: 50vw;
    cursor: pointer;
}

.layer-2{
   width: 100%;
   z-index: 1;
}

.shark-object{
    width: 100%;
}

#blahaj{
    /*max-width: 350px;*/
    width: 24.3vw;
    transform: rotate(125deg);
    position: absolute;
    left: 15%;
    top:1410px;
    filter: brightness(60%);
    z-index: 1;
    pointer-events: none; 

}

#lock {
    /*max-width: 100px;*/
    width: 6.95vw;
    transform: rotate(-40deg);
    position: absolute;
    left: 65%;
    top:1460px;
    filter:brightness(75%);
    z-index: 1;
    pointer-events: none; 
}

#ballot {
   /*max-width: 140px;*/
   width: 7.7vw;
   transform: rotate(25deg);
   position: absolute;
   left: 28%;
   top:2090px;
   filter: brightness(50%);
   z-index: 1;

}


#ballotbox {
    /*max-width: 140px;*/
    width: 15vw;
    transform: rotate(112deg);
    position: absolute;
    left: 63%;
    top:2130px;
    filter: brightness(50%);
    z-index: 1;
 }

#text-shark-box{
    position: absolute;
    max-width: 350px;
    padding: 15px;
    border-radius: 15px;
    left: 62%;
    top: 4200px;
}

#text-timebomb-box{
    max-width: 350px;
    position: absolute;
    left: 12%;
    top:3920px;
    z-index: 1;
}

#sharkpoll-img-2{
    position: absolute;
    /*max-width: 720px;*/
    width: 50vw;
    left: 5%;
    top: 5565px;
    cursor: pointer;
}

#TimeBomb-img{
    position: relative;
    /*max-width: 720px;*/
    width: 50vw;
    top: -715px;
    filter: brightness(85%);
    cursor: pointer;
}

#TimeBomb-img-2 {
    position: absolute;
    width: 40vw;
    top: 3625px;
    left: 53%;
    z-index: 1;
    filter: brightness(87%);
    cursor: pointer;
}

#bomb {
    position: absolute;
    width: 20vw;
    top: 3380px;
    left: 11%;
    transform: rotate(-80deg);
    image-rendering: pixelated;
    filter: brightness(75%);
    pointer-events: none; 
}

#p1 {
    position: absolute;
    width: 8vw;
    top: 3200px;
    left: 23%;
    transform: rotate(-35deg);
    image-rendering: pixelated;
    filter: brightness(75%);
    pointer-events: none; 
}

#p2 {
    position: absolute;
    width: 8vw;
    top: 2880px;
    left: 36%;
    image-rendering: pixelated;
    filter: brightness(75%);
    transform: scaleX(-1) rotate(20deg);
    pointer-events: none; 
}

#box-tb {
    position: absolute;
    width: 8vw;
    top: 3230px;
    left: 54%;
    image-rendering: pixelated;
    filter: brightness(75%);
    transform: rotate(10deg);
    pointer-events: none; 
}

#trophy {
    position: absolute;
    width: 15vw;
    top: 3000px;
    left: 66%;
    transform: rotate(-40deg);
    filter: brightness(80%);
    pointer-events: none; 
}

#explosion {
    position: absolute;
    width: 40vw;
    top: 3050px;
    left: 37%;
    transform: rotate(0deg);
    filter: brightness(80%);
    image-rendering: pixelated;
    pointer-events: none; 
}

.layer-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 300%;
}

.header-centered {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

#Footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#Others-Projects{
    margin-top:125%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20%;
}

#Others-Projects h2{
    font-size: 190%;
    margin-top: 1.5%;
}

#title-others {
    font-size: 320%;
}

.row {
    display: flex;
    width: 100%;
    margin-top: 12%;
    flex-direction: row;
    justify-content: space-between;
}

.rails-box {
    margin-top: 25%;
}


#img-rails{
    width: 20vw;
    margin: 2%;
    margin-right: 0;
    object-fit: contain;
}

#img-scrabble{
    width: 20vw;
    margin: 2%;
    margin-left: 0;
    object-fit: contain;
}

.description{
    width: 50%;
}


@font-face {
    font-family: Source Code Pro;
    src: url("../fonts/SourceCodePro.ttf");
}


@font-face {
    font-family: Roboto Slab;
    src: url("../fonts/RobotoSlab.ttf");
}

#mail-form {
    text-align: center;
    font-family: Roboto Slab;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    width: 500px;
    
}

#Contact * {
    font-family: Roboto Slab;
}
#reponse-mail {
    margin-top: 0;
}
#Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 5%;
    font-size: 1.3em;
}

#mail-form input,
textarea {
    width: 100%;
    background-color: #222;
    border-color: #222;
    color: #5c5c5c;
    border-style: none;
    resize: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    font-size: 22px;
    font-family: Roboto Slab;
}

#mail-form textarea {
    height: 150px;
}

#mail-form h1 {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #a1dce6;
}
#mail-fom #mail-letter{
    margin: 0;
    padding: 0;
}

#mail-form #send-button {
    font-size: 85%;
    height: 25px;
    color: #353535;
    width: 507px;
}

@media(max-width: 550px){
    #Contact{
        font-size: 1.3em;
    }
    #mail-form input,textarea{
        width: 460px;
    }
    #mail-form #send-button {
        width: 467px;
    }
}

@media(max-width: 480px){
    #Contact{
        font-size: 1.1em;
    }
    #mail-form input,textarea{
        width: 370px;
    }
    #mail-form #send-button {
        width: 377px;
    }
}


body,
html,
#Header {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    font-family: Roboto Slab;
}

body {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar{
    display: none;
}

#Header h1 {
    color: rgba(255,255,255,0.8);
    margin-top: 0px;
    font-size: 7em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0;
}

/*@media(max-width: 1150px){
    #Header h1{
        font-size: 650%;
    }

    #Header li {
        font-size: 180%;
    }
}

@media(max-width: 1040px){
    #Header h1{
        font-size: 600%;
    }

    #Header li {
        font-size: 150%;
    }
}*/


.header-content {
    width: 100%;
    position: relative;
    top: 33%;
    text-align: center;
}

.header-menu li {
    text-align: center;
    font-size: 200%;

}

.header-menu a {
    text-decoration: none;
    color: aliceblue;
}

.header-menu {
    margin-left: 140px;
    margin-right: 140px;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;

}

.background-blur {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

#AboutMe-anchor{
    display: block;
    position: relative;
    visibility: hidden;
    top: -25%;
}

#Project-anchor{
    display: block;
    position: relative;
    visibility: hidden;
    top: -18%;
}

#AboutMe {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25%;
}

#presentation {
    text-align: left;
    width: 450px;
}

.network {
    width: 100%;
    z-index: 1;
}

.network > a {
    width: 100%;
    height: 100%;
}

.network * {
    position: absolute;
}

.network .fa-github {
    left: 50%;
    top: 2200px;
    font-size: 8.9vw;
}

.network .fa-twitter {
    left: 65%;
    top: 2700px;
    font-size: 8.9vw;
}

.network .fa-linkedin-in {
    left: 25%;
    top: 2600px;
    font-size: 8.9vw;
}

i {
    color: white;
}

.words {
    width: 100%;
    height: 100%;
}

.words * {
    position: absolute;
    overflow: hidden;
}

.words p {
    font-size: 2.2vw;
}

#word1 {
    left: 27%;
    top: 660px;
    transform: rotate(-20deg);
}

#word2{
    left: 68%;
    top: 1045px;
    transform: rotate(15deg);
}

#word3{
    left: 43%;
    top: 1040px;
    transform: rotate(-15deg);
}

#word4{
    left: 66%;
    top: 615px;
    transform: rotate(20deg);
}

#word5{
    left: 14%;
    top: 950px;
    transform: rotate(20deg);
}

html {
    scroll-behavior: smooth;
}

.scrabble {
    text-align: right;
}